*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html,
body,
span,
applet,
object,
iframe,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

.pulse {
  position: fixed;
  top: 80%;
  right: 10%;
  z-index: 1000;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(71, 221, 0, 0.4);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.pulse:before {
  -webkit-animation: pulse 2s ease-out infinite;
          animation: pulse 2s ease-out infinite;
}

.pulse:after {
  -webkit-animation: pulse 2s 1s ease-out infinite;
          animation: pulse 2s 1s ease-out infinite;
}

@-webkit-keyframes pulse {
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes pulse {
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
.btn-link {
  display: inline-block;
  font-size: clamp(1rem, 0.8295rem + 0.7273vw, 1.375rem);
  background-color: #ffe6a7;
  background-image: radial-gradient(142.99% 1580.96% at 50% 50%, #ffe6a7 0%, #ffb800 100%);
  padding: 0.5rem 4rem;
  border-radius: 14.5791px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  line-height: 39px;
  transition: all 250ms ease-in-out;
}
.btn-link:hover {
  color: #111;
  transform: scale(1.1);
}

.btn-link.long {
  padding: 0.5rem 1rem;
  background-image: unset;
  background-color: #ffe6a7;
}

.wrapper {
  padding-block: 0 9rem;
}

.header,
.about,
.compose,
.catalog,
.furniture,
.advantages,
.form {
  margin-bottom: 10rem;
}

.nav-mobile a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  transition: all 100ms ease-in-out;
}
.nav-mobile a + a {
  margin-top: 0.7rem;
}
.nav-mobile a.active {
  color: #ffe6a7;
}
.nav-mobile a:not(.active):hover {
  color: #0dcaf0;
}

.header {
  padding-top: 2.5rem;
}
.header__banner {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 3.5rem;
}
.header__banner-desc {
  text-align: center;
  width: min(100%, 330px);
  margin: auto;
}
.header__banner-img {
  text-align: center;
}
.header__banner-img img {
  width: min(95%, 350px);
}
.header__banner-subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.7045rem + 0.7273vw, 1.2rem);
  line-height: clamp(1.4375rem, 1.125rem + 1.3333vw, 2.125rem);
  margin-bottom: 1.2rem;
  max-width: 400px;
}
.header__banner-title {
  font-weight: 700;
  font-size: clamp(1.75rem, 1.5227rem + 0.9697vw, 2.25rem);
  line-height: 27px;
  margin-bottom: 1.5rem;
}
.header__logo {
  font-size: clamp(0.875rem, 0.618rem + 0.6634vw, 1.25rem);
  margin-right: auto;
}
.header__mobile-link {
  font-size: clamp(0.875rem, 0.7045rem + 0.7273vw, 1.2rem);
}
.header__nav {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.header__nav-links {
  display: none;
}
.header__nav-links a {
  transition: all 100ms ease-in-out;
}
.header__nav-links a.active {
  font-weight: 600;
}
.header__nav-links a:hover {
  transform: scale(1.1);
}

.about__title {
  font-weight: 600;
  line-height: 47px;
  text-align: center;
  font-size: clamp(1.3125rem, 1.2568rem + 1.1009vw, 2.5rem);
}
.about__holder {
  padding-block: 2rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
}
.about__item {
  display: flex;
  align-items: center;
  width: min(100%, 400px);
  margin-inline: 1rem;
}
.about__img {
  width: 35px;
  margin-right: 1.5rem;
}
.about p.title {
  font-weight: 600;
  font-size: calc(clamp(0.875rem, 0.7045rem + 0.7273vw, 1.2rem) + 3px);
}
.about p.text {
  font-size: clamp(0.875rem, 0.7045rem + 0.7273vw, 1.2rem);
}

.compose__title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: clamp(1.6875rem, 1.0341rem + 2.7879vw, 3.125rem);
}
.compose__img {
  margin-bottom: 5.5rem;
}
.compose__img img {
  width: min(90%, 750px);
}

.catalog__title {
  text-align: center;
  font-size: clamp(1.5625rem, 0.9091rem + 2.7879vw, 3rem);
  margin-bottom: 4rem;
}
.catalog__item {
  text-align: center;
}
.catalog__img {
  width: min(100%, 140px);
}
.catalog__desc {
  font-size: clamp(0.5rem, 0.2727rem + 0.9697vw, 1rem);
}
.catalog .row {
  row-gap: 4rem;
  margin-bottom: 4rem;
}

.furniture__title {
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
  font-size: clamp(1.5625rem, 0.9091rem + 2.7879vw, 3rem);
}
.furniture__hands {
  justify-content: center;
  row-gap: 1.5rem;
  margin-bottom: 4rem;
}
.furniture__hand {
  text-align: center;
}
.furniture__hand img {
  width: min(100%, 140px);
}
.furniture__hand.desk {
  display: none;
}

.advantages__title {
  font-size: clamp(1.0625rem, 0.5227rem + 2.303vw, 2.25rem);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.advantages__holder {
  margin-bottom: 3rem;
}
.advantages__item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 1.45791px solid #000000;
  border-radius: 6px;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
.advantages__item + .advantages__item {
  margin-top: 1.5rem;
}
.advantages__item img {
  width: 30px;
  margin-right: 1rem;
}
.advantages .text {
  font-size: clamp(0.7rem, 0.1875rem + 1.3333vw, 1.1rem);
  font-size: clamp(0.5rem, 0.3036rem + 0.9821vw, 1.1075rem);
}
.advantages .title {
  font-weight: 600;
  font-size: clamp(0.625rem, 0.3571rem + 1.3393vw, 1.3rem);
}

.form {
  margin-bottom: 10rem;
}
.form__title {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: clamp(1.1875rem, 0.8839rem + 1.5179vw, 2.25rem);
}
.form__subtitle {
  font-size: clamp(0.8125rem, 0.5982rem + 1.0714vw, 1.2625rem);
  line-height: 21px;
  margin-bottom: 2rem;
}
.form__group {
  width: min(85vw, 482px);
  margin-inline: auto;
  margin-bottom: 19px;
  position: relative;
}
.form__group + .form__group {
  margin-top: 1.5rem;
}
.form__input {
  width: 100%;
  border-radius: 7.60107px;
  border: 0.728953px solid #000000;
  padding-inline: 1rem;
  padding-block: 1rem;
  font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1.375rem);
}
.form__line {
  border-top: 0.728953px solid rgba(0, 0, 0, 0.5);
  width: 93%;
  position: absolute;
  top: 75%;
  left: 50%;
  translate: -50%;
}
.form .form-check {
  width: min(85vw, 482px);
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
}
.form .form-check input {
  border-radius: 1.25rem;
}
.form__submit {
  border: none;
}

.footer__socials {
  margin-bottom: 1rem;
}
.footer__socials a {
  display: flex;
  align-items: center;
}
.footer__socials a + a {
  margin-top: 1rem;
}
.footer__socials img {
  margin-right: 0.8rem;
}
.footer__desc {
  font-size: clamp(0.825rem, 0.5536rem + 0.3571vw, 0.875rem);
  line-height: 24px;
  /* or 180% */
  display: flex;
  align-items: center;
  color: #808080;
}

@media screen and (max-width: 375px) {
  .btn-link {
    padding: 0.5rem 1.5rem;
  }
  .btn-link.long {
    padding: 0.5rem 1.2rem;
  }
  .about__item {
    margin-inline: 0;
  }
  .header .header__mobile-link {
    font-size: clamp(0.875rem, 0.7045rem + 0.7273vw, 1.2rem);
    display: none;
  }
}
@media screen and (min-width: 385px) {
  .header__nav {
    margin-inline: 4.5vw;
  }
  .advantages__item {
    padding-inline: 1.5rem;
  }
}
@media screen and (max-width: 475px) {
  .form__input {
    padding-inline: 0.5rem;
  }
}
@media screen and (min-width: 475px) {
  .about__item {
    margin-inline: auto;
  }
  .about__img {
    margin-right: 2.2rem;
  }
}
@media screen and (min-width: 576px) {
  .header__nav {
    margin-inline: 0;
  }
}
@media screen and (min-width: 768px) {
  .pulse {
    display: none;
  }
  .btn-link {
    padding-inline: 3rem !important;
  }
  .btn-link.long {
    padding-inline: 2.5rem !important;
    padding-block: 0.7rem !important;
  }
  .header {
    background-color: #fff;
    background-image: linear-gradient(110.38deg, #ffffff 6.38%, #c8c8c8 104.97%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 100vh;
  }
  .header .btn-link:hover {
    transform: scale(1.1) translate(10px);
  }
  .header .container {
    height: 100%;
    position: relative;
  }
  .header__mobile-link {
    display: none;
  }
  .header__nav {
    margin-bottom: 150px;
  }
  .header__banner {
    flex-direction: row;
    align-items: center;
  }
  .header__banner-desc {
    flex-basis: 50%;
    text-align: left;
  }
  .header__banner-img {
    flex-basis: 50%;
    text-align: end;
  }
  .header__banner-img img {
    width: min(36vw, 500px);
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header__nav-links {
    display: flex;
    font-size: clamp(0.875rem, 0.5893rem + 0.5952vw, 1.125rem);
  }
  .header__nav-links a + a {
    margin-left: 1.2rem;
  }
  .about__holder {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__item {
    width: 500px;
  }
  .about__item:nth-child(1) {
    order: 1;
  }
  .about__item:nth-child(2) {
    order: 4;
  }
  .about__item:nth-child(3) {
    order: 5;
  }
  .about__item:nth-child(4) {
    order: 2;
  }
  .about__item:nth-child(5) {
    order: 4;
  }
  .about__item:nth-child(6) {
    order: 6;
  }
  .furniture .furniture__hands {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 3rem;
  }
  .furniture__hand.desk {
    display: block;
  }
  .furniture__hand.mob {
    display: none;
  }
  .furniture .btn-link.mob {
    display: none;
  }
  .form__input {
    border-radius: 14.5791px;
  }
  .form__title, .form__subtitle {
    text-align: center;
  }
  .form__title {
    margin-bottom: 1rem;
  }
  .form__subtitle {
    margin-bottom: 2.5rem;
  }
  .form .form__group + .form__group {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-5 {
    width: 43.6%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xl-5 {
    width: 36.6%;
  }
}
@media screen and (min-width: 910px) {
  .advantages__item {
    padding-block: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .advantages__item {
    padding-block: 1rem;
  }
  .advantages__item img {
    width: 40px;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    margin-bottom: 200px;
  }
  .header__nav-links a + a {
    margin-left: 2rem;
  }
  .about__title {
    text-align: left;
  }
  .about__holder {
    row-gap: 5rem;
    justify-content: space-between;
    padding-block: 4rem 7rem;
  }
  .about__img {
    width: 50px;
  }
  .about__item {
    margin-inline: 0;
    flex-basis: 45%;
  }
  .about p.title {
    font-size: 1.5rem;
  }
  .about p.text {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=style.css.map */